$fg_color: #e0def4;
$bg_color: #191827;
$card_bg: transparentize(lighten($bg_color, 12), .5);
$accent: #eb6f92;
$font: Symbols Nerd Font, JetBrains Mono, monospace;
$font_mono: Symbols Nerd Font, JetBrains Mono, monospace;
$transition_params: .15s ease-in-out;

$nav_size: 55px;
$nav_padding: 12px;

$doc_sidebar_size: 300px;

$block_size_limit: 800px;

$mobile_size: 850px;

@mixin border_glow($_color: $accent) {
    border: 1px solid $accent;
    box-shadow: 0 0 10px transparentize($_color, .2);
}

@mixin text_glow($_color: $fg_color) {
    text-shadow: 0 0 5px transparentize($_color, .2);
}

@keyframes text_flicker_animation {
    0% {
        text-shadow: 0 0 5px transparentize($fg_color, .2);
    }
    9% {
        text-shadow: 0 0 5px transparentize($fg_color, .2);
    }
    10% {
        text-shadow: 0 0 8px transparentize($fg_color, .1);
    }
    11% {
        text-shadow: 0 0 5px transparentize($fg_color, .2);
    }
    79% {
        text-shadow: 0 0 5px transparentize($fg_color, .2);
    }
    80% {
        text-shadow: 0 0 3px transparentize($fg_color, .7);
    }
    81% {
        text-shadow: 0 0 5px transparentize($fg_color, .2);
    }
    82% {
        text-shadow: 0 0 3px transparentize($fg_color, .7);
    }
    83% {
        text-shadow: 0 0 5px transparentize($fg_color, .2);
    }
    100% {
        text-shadow: 0 0 5px transparentize($fg_color, .2);
    }
}

@keyframes border_flicker_animation {
    0% {
        box-shadow: 0 0 10px transparentize($accent, .2);
    }
    9% {
        box-shadow: 0 0 10px transparentize($accent, .2);
    }
    10% {
        box-shadow: 0 0 15px transparentize($accent, .1);
    }
    11% {
        box-shadow: 0 0 10px transparentize($accent, .2);
    }
    79% {
        box-shadow: 0 0 10px transparentize($accent, .2);
    }
    80% {
        box-shadow: 0 0 3px transparentize($accent, .7);
    }
    81% {
        box-shadow: 0 0 10px transparentize($accent, .2);
    }
    82% {
        box-shadow: 0 0 3px transparentize($accent, .7);
    }
    83% {
        box-shadow: 0 0 10px transparentize($accent, .2);
    }
    100% {
        box-shadow: 0 0 10px transparentize($accent, .2);
    }
}

@mixin text_glow_flicker($_color: $fg_color) {
    @include text_glow($_color);
    animation: text_flicker_animation 10s ease-in-out infinite;
}

@mixin border_glow_flicker($_color: $accent) {
    @include border_glow($_color);
    animation: border_flicker_animation 10s ease-in-out infinite;
}

@keyframes blink_animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@mixin blink {
    animation: blink_animation 3s ease-in-out infinite;
}

@mixin blur_bg {
    backdrop-filter: blur(12px);
}

@mixin navnfi {
    font-size: ($nav_size - $nav_padding*2);
    user-select: none;
}

@mixin blinker {
    &::after {
        content: ' █';
        @include blink;
    }
}

@mixin fade_in_closed($_time: .15s) {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear $_time, opacity $_time ease-in-out 0s;
}

@mixin fade_in_open($_time: .15s) {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity $_time ease-in-out 0s;
}

$nav_shadow: 0 0 15px darken($bg_color, 3);

@mixin navlink {
    display: block;
    text-decoration: none;
    color: $fg_color;
    padding: $nav_padding;
    font-size: 12pt;
    &.navnfi, .navnfi {
        @include navnfi;
    }

    &, &.navnfi, .navnfi {
        transition: color $transition_params,
                    text-shadow $transition_params;
        &:hover {
            color: $accent;
            @include text_glow($accent);
        }
    }
}

hr {
    border-color: $accent;
}

pre {
    border: 2px solid darken($fg_color, 20);
    padding: 12px;
    font-size: 11pt;
    font-family: $font_mono;
}
