---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Gallery from '../components/Gallery.astro';
import GlowCard from '../components/GlowCard.astro';
import {Content as CardInstall} from '../cards/install.mdx';
import {Content as CardFeatures} from '../cards/features.mdx';
import {
    SITE_NAME, BLURB, LOGO, SCREENSHOTS, FEAT_IMG
} from '../config';
---

<Layout title={SITE_NAME} withSidebar={false}>
    <Hero
        logo={LOGO}
        blurb={BLURB}
    ></Hero>
    <section id="screenshots">
        <Gallery
            images={SCREENSHOTS}
            featured={FEAT_IMG}
        ></Gallery>
    </section>
    <section id="features">
        <GlowCard>
            <CardFeatures />
        </GlowCard>
    </section>
    <section id="install">
        <GlowCard>
            <CardInstall />
        </GlowCard>
    </section>
</Layout>
