---
export interface CircleButton {
    onclick: string;
    tooltip: string;
    id: string;
    className: string;
}
const { onclick, tooltip, id, className } = Astro.props;
---
<button
    class={`circle_button ${className}`}
    id={id}
    onclick={onclick}
    title={tooltip}
    aria-label={tooltip}
>
    <slot />
</button>

<style lang="scss">
@use '../styles/base.scss' as *;
.circle_button {
    font-family: Symbols Nerd Font, monospace;
    border: none;
    color: $fg_color;
    background-color: $card_bg;
    opacity: .4;
    padding: 12px;
    width: 48px; height: 48px;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid $fg_color;
    transition: border $transition_params,
                box-shadow $transition_params,
                opacity $transition_params;
    &:hover {
        @include border-glow($accent);
        opacity: 1;
    }
}
</style>
