---
---

<codeblock-wrapper>
    <button class="copyBtn" title="Copy">󰆏</button>
    <slot />
</codeblock-wrapper>

<script>
    class CodeblockWrapper extends HTMLElement {
        private readonly copyBtn;

        constructor() {
            super();

            this.copyBtn = this.getElementsByClassName('copyBtn')[0]
            this.copyBtn.addEventListener('click', () => this.copyCodeblock())
        }

        copyCodeblock() {
            let txt = this.copyBtn.parentElement?.getElementsByTagName('pre')[0].innerText;
            if (txt) navigator.clipboard.writeText(txt);
        }
    }

    customElements.define('codeblock-wrapper', CodeblockWrapper)
</script>

<style lang="scss">
    codeblock-wrapper {
        display: block;
        &, > * {
            position: relative;
            z-index: 10;
        }
        > .copyBtn {
            position: absolute;
            top: 6px;
            right: 6px;
            z-index: 50;
            border: none;
            background: none;
            color: currentcolor;
            font-size: 12pt;
            cursor: pointer;
            opacity: .7;
            transition: opacity .15s ease-in-out;
            &:hover, &:active {
                opacity: 1;
            }
        }
    }
</style>
