---
export interface Details {
    text: string;
}
const { text } = Astro.props;
---

<details>
    <summary>{text}</summary>
    <slot />
</details>

<style lang="scss">
    summary {
        cursor: pointer;
        font-weight: bold;
    }
</style>
