---
const { baseDir, tree, currentTitle, withIndex } = Astro.props;
const allDocs = (await Astro.glob('../pages/docs/**/*.mdx')).filter((d) => !d.frontmatter.draft);
---

<docs-sidebar-section>
{tree.files.map((file: string) => {
    let page: any = allDocs.filter((d: any) =>
        (
            withIndex &&
            file == 'index.mdx' &&
            d.file.endsWith(baseDir+'/'+'index.mdx')
        ) ||
        (
            d.file.endsWith(baseDir+'/'+file) && file != 'index.mdx'
        )
    )[0];
    if (!page) return '';
    return (
        <li>
            <a
                href={page.url}
                class:list={[{ 'selected': page.frontmatter.title == currentTitle }]}
            >{page.frontmatter.title}</a>
        </li>
    );
})}

{Object.keys(tree.dirs).map((dir) => {
    let index: any = allDocs.filter((d: any) =>
        d.file.endsWith(dir+'/index.mdx')
    )[0];
    if (!index) return '';
    return (
        <li class="section_index open">
            <span>
                <button class="expanderBtn"></button>
                <a
                    href={index.url}
                    class:list={[
                    { 'selected': index.frontmatter.title == currentTitle }
                    ]}
                    >{index.frontmatter.title}</a>
            </span>
            <ul>
                <Astro.self
                    baseDir={dir}
                    tree={tree.dirs[dir]}
                    currentTitle={currentTitle}
                    withIndex={false}
                />
            </ul>
        </li>
    );
})}
<docs-sidebar-section>
<script>
    class DocsSidebarSection extends HTMLElement {
        private readonly expanderBtns: HTMLButtonElement[];

        constructor() {
            super();
            this.expanderBtns = Array.from(
                this.getElementsByClassName('expanderBtn')
            ) as HTMLButtonElement[]
            this.expanderBtns.forEach(
                btn => btn.addEventListener('click', () => this.toggleSection(btn))
            )
        }

        toggleSection(btn: HTMLButtonElement) {
            btn.parentElement?.parentElement?.classList.toggle('open');
        }
    }
    customElements.define('docs-sidebar-section', DocsSidebarSection)
</script>
<style lang="scss">
@use '../styles/base.scss' as *;
li.section_index {
    > span {
        display: flex;
        flex-direction: row;
        align-items: center;
        > button {
            display: inline-block;
            width: 16px; height: 16px;
            border: none;
            background: none;
            font-family: $font;
            color: $fg_color;
            cursor: pointer;
            transform: rotateZ(0deg);
            transition: text-shadow $transition_params, transform $transition_params;
            &:hover {
                @include text_glow;
            }
        }
    }

    > ul {
        display: block;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform $transition_params;
    }

    &.open {
        > span > button {
            transform: rotateZ(90deg);
        }
        > ul {
            transform: scaleY(1);
        }
    }
}
li > ul {

}
</style>
