---
import {YEAR, AUTHOR, SITE_GIT_REPO} from '../config';
---
<section>
    <footer>
        <hr>
        <p class="blinker">{YEAR} &copy; {AUTHOR}</p>

        <div class="small">
            <p>This website is free software: you can redistribute it
            and/or modify it under the terms of the GNU Affero General
            Public License as published by the Free Software Foundation,
            either version 3 of the License, or (at your option) any later
            version.</p>

            <p>This website is distributed in the hope that it will be
            useful, but WITHOUT ANY WARRANTY; without even the implied
            warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
            PURPOSE. See the GNU Affero General Public License for more
            details.</p>

            <p>You should have received a copy of the GNU Affero General
            Public License <a href="/LICENSE">along with this website.</a>
            If not, see
            <a
                href="https://www.gnu.org/licenses/agpl-3.0.html"
                >https://www.gnu.org/licenses/agpl-3.0.html</a>.
            </p>

            <p><a href={SITE_GIT_REPO}>Website source code</a></p>
        </div>
    </footer>
</section>
<style lang="scss">
@use '../styles/base.scss' as *;
footer {
    hr {
        @include border_glow;
    }
}
</style>
