---
import CircleButton from './CircleButton.astro';
const { images, featured } = Astro.props;
---
<nvp-gallery data-images={JSON.stringify(images)}>
    <div class="lightbox">
        <div class="viewport">
            <div class="filler"></div>
            <img class="lightboxImg" src={images[0]}>
            <CircleButton
                tooltip="Previous image"
                className="backBtn left"></CircleButton>
            <CircleButton
                tooltip="Next image"
                className="nextBtn right"></CircleButton>
            <CircleButton
                tooltip="Hide gallery"
                className="closeBtn top right"></CircleButton>
        </div>
    </div>
    {featured &&
        <div class="featured_screenshot">
            <img src={featured} alt="">
        </div>
    }
    <div class="gallery">
        {images.map((image: string, i: number) => (
            <img src={image} alt="" data-imgindex={i}>
        ))}
    </div>
</nvp-gallery>
<script>
    class Gallery extends HTMLElement {
        private readonly images: string[]
        private readonly lastImg: number
        private currentImg = 0

        private readonly backBtn: HTMLButtonElement
        private readonly nextBtn: HTMLButtonElement
        private readonly closeBtn: HTMLButtonElement

        private readonly lightbox: HTMLElement
        private readonly lightboxImg: HTMLImageElement
        
        constructor() {
            super();
            this.images = JSON.parse(this.dataset.images!)
            this.lastImg = this.images.length - 1

            this.backBtn = this.getElementsByClassName('backBtn')[0] as HTMLButtonElement
            this.nextBtn = this.getElementsByClassName('nextBtn')[0] as HTMLButtonElement
            this.closeBtn = this.getElementsByClassName('closeBtn')[0] as HTMLButtonElement

            this.lightbox = this.getElementsByClassName('lightbox')[0] as HTMLElement
            this.lightboxImg = this.getElementsByClassName('lightboxImg')[0] as HTMLImageElement

            this.backBtn.addEventListener('click', () => this.goBack())
            this.nextBtn.addEventListener('click', () => this.goNext())
            this.closeBtn.addEventListener('click', () => this.closeLightbox())

            this.getElementsByClassName('filler')[0].addEventListener('click', () => this.closeLightbox())
            Array.from(
                this.getElementsByClassName('gallery')[0].getElementsByTagName('img')
            ).forEach((img) => {
                img.addEventListener('click', () => { console.log(img.dataset.imgindex); this.showLightbox(parseInt(img.dataset.imgindex!)) })
            })
        }

        goBack() {
            let img = this.currentImg - 1
            if (img < 0) img = this.lastImg;
            this.showLightbox(img)
        }

        goNext() {
            let img = this.currentImg + 1
            if (img > this.lastImg) img = 0
            this.showLightbox(img)
        }

        closeLightbox() {
            this.lightbox.classList.remove('open')
        }

        showLightbox(img: number) {
            this.lightboxImg.src = this.images[img]
            this.lightbox.classList.add('open')
            this.currentImg = img
        }
    }
    customElements.define('nvp-gallery', Gallery)
</script>
<style lang="scss">
    @use '../styles/base.scss' as *;

    nvp-gallery {
        display: block;
        max-width: 1800px !important;
    }

    .featured_screenshot, .gallery {
        img {
            @include border_glow;
        }
    }

    .featured_screenshot {
        img {
            display: block;
            margin: auto;
        }
    }

    .gallery {
        max-width: $block_size_limit !important;
        margin-left: auto; margin-right: auto;
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        grid-gap: 48px;
        img {
            cursor: pointer;
        }
    }

    .lightbox {
        position: relative;
        .viewport {
            position: fixed;
            z-index: 200;
            top: 0; left: 0; right: 0;
            width: 100%; height: 100vh;
            .filler {
                cursor: pointer;
                position: absolute;
                z-index: 300;
                top: 0; left: 0; right: 0; bottom: 0;
                background-color: $card_bg;
            }
            img {
                position: absolute;
                z-index: 400;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
            }
            .circle_button {
                position: absolute;
                z-index: 500;
                &.left, &.right {
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.left { left: 24px; }
                &.right { right: 24px; }
                &.top { top: 48px; }
            }
        }
        &, .viewport {
            @include fade_in_closed(.3s);
            .filler {
                backdrop-filter: blur(0);
                transition: backdrop-filter .15s ease-in-out;
            }
        }
        &.open {
            &, .viewport {
                @include fade_in_open(.3s);
                .filler {
                    backdrop-filter: blur(12px);
                    transition: backdrop-filter .15s ease-in-out .3s;
                }
            }
        }
    }
</style>
