<div class="glowcard">
    <!--div class="marquee">
        <div>
            <span>VIM  PUNK  NEO ﭧ CYBER  HACK ﬧ VIM  PUNK  NEO ﭧ CYBER  HACK ﬧ </span>
            <span>VIM  PUNK  NEO ﭧ CYBER  HACK ﬧ VIM  PUNK  NEO ﭧ CYBER  HACK ﬧ </span>
        </div>
    </div-->
    <slot />
</div>
<style lang="scss" is:global>
@use '../styles/base.scss' as *;

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
/*
.marquee {
    @include border_glow_flicker;
    background-color: $card_bg;
    @include blur_bg;
    height: 14px;
    padding: 3px 0 3px 0;
    box-sizing: border-box;
    top: 0;
    right: 0;
    border-top: none; border-right: none;
    position: absolute;
    width: 220px;
    overflow: hidden;
    div {
        position: absolute;
        width: 200%;
        animation: marquee 5s linear infinite;
        span {
            vertical-align: middle;
            white-space: pre;
            width: 50%;
            float: left;
            overflow: hidden;
            font-size: 5pt;
            user-select: none;
        }
    }
}
*/

.glowcard {
    background-color: $card_bg;
    @include blur_bg;
    @include border_glow_flicker;
    padding: 12px;

    h3, .title {
        padding: 0 0 12px 0;
        margin: 0;
        @include blinker;
    }
    
    hr {
        margin: 0 -12px;
        border: none;
        border-bottom: 1px solid $accent;
    }
}
</style>
