---
export interface Hero {
    logo: string;
    blurb: string;
}
const { logo, blurb } = Astro.props;
---
<section class="hero">
    <div class="logo_container">
        <img class="logo" src={logo} alt="Nvpunk">
    </div>
    <h2>{blurb}</h2>
</section>
<style lang="scss">
@use '../styles/base.scss' as *;
.hero {
    .logo_container {
        max-width: 750px;
        margin: auto;
        padding-top: 96px;
        display: flex;
        position: relative;
        .logo {
            display: block;
            width: 100%;
            padding: 12px;
            position: relative;
            filter: drop-shadow(0 0 12px transparentize($accent, .7));
        }
    }
    h2 {
        @include text_glow_flicker;
        text-align: center;
    }
}
</style>
