---
export interface Navbar {
    currentPage: string;
    withSidebar: boolean;
}
const { currentPage, withSidebar } = Astro.props;
import {LOGO, SITE_NAME, GIT_REPO} from '../config';
---
<header>
    <nav>
        {withSidebar && <a id="sidebar_hamburger" class="start">󰍜</a>}
        <ul>
            <li><a href="/">
                <img src={LOGO} alt={SITE_NAME}>
            </a></li>
        </ul>
        <span class="grower"></span>
        <ul id="main_menu" class="end collapsable">
            <li><a href="/#screenshots">Screenshots</a></li>
            <li><a href="/#features">Features</a></li>
            <li><a href="/#install">Install</a></li>
            <li><a href="/docs">Docs</a></li>
        </ul>
        <a class="hamburger end" data-togglefor="main_menu">󰇙</a>
        <ul class="end">
            <li><a class="navnfi" target="_blank"
                href={GIT_REPO}
                aria-label="git repository"
            ></a></li>
        </ul>
    </nav>
</header>
<script>
    function open_menu(menu) {
        menu.classList.add('open');
    }
    function close_menu(menu) {
        menu.classList.remove('open');
    }
    function toggle_menu(menu) {
        menu.classList.toggle('open');
    }
    Array.from(
        document.getElementsByClassName('hamburger')
    ).forEach((mb) => {
        let menu = document.getElementById(mb.dataset.togglefor);
        mb.onclick = () => {
            toggle_menu(menu);
        };
        Array.from(menu.getElementsByTagName('a')).forEach((a) => {
            a.onclick = () => {
                close_menu(menu);
            }
        });
    });
</script>
<style lang="scss">
@use '../styles/base.scss' as *;
.navnfi {
    @include navnfi;
}

nav {
    @include blur_bg;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    background-color: $card_bg;
    box-shadow: $nav_shadow;
    align-items: center;
    .grower {
        flex-grow: 99999;
    }
    ul {
        list-style-type: none;
        height: $nav_size;
        margin: 0;
        padding: 0 $nav_padding;
        display: flex;
        flex-direction: row;
        align-items: center;
        li {
            display: block;
            a {
                @include navlink;
                img {
                    display: block;
                    height: ($nav_size - ($nav_padding - 6px) * 2);
                }
            }
        }
        &.collapsable {
            @media screen and (max-width: $mobile_size) {
                position: fixed;
                top: (12px + $nav_size);
                &.start {
                    left: 12px;
                    align-items: start;
                }
                &.end {
                    right: 12px;
                    align-items: end;
                }
                flex-direction: column;
                background-color: $card_bg;
                @include border_glow;
                height: unset;
                backdrop-filter: blur(12px);

                @include fade_in_closed;
                &.open {
                    @include fade_in_open;
                }
            }
        }
    }
    .hamburger, #sidebar_hamburger {
        @include navnfi;
        padding: $nav_padding;
        color: $fg_color;
        cursor: pointer;
        transition: color $transition_params, text-shadow $transition_params;
        &:hover {
            color: $accent;
        }
        display: none;
        @media screen and (max-width: 850px) {
            display: block;
        }
    }
}
</style>
