---
export interface Props {
    title: string;
}
const { title } = Astro.props.frontmatter ?? Astro.props;

import Layout from './Layout.astro';
import DocsSidebarSection from '../components/DocsSidebarSection.astro';
const allDocs = await Astro.glob('../pages/docs/**/*.mdx');
const docs = allDocs.filter((page) => !page.frontmatter.draft);

import fs from 'fs';

function getTree(dir: string): any {
    let ls = fs.readdirSync(dir);
    let tree: any = {files: [], dirs: {}};
    for (let i of ls) {
        if (i.endsWith('.mdx')) {
            tree.files.push(i);
        }
        else {
            tree.dirs[i] = getTree(dir+'/'+i);
        }
    }
    return tree;
}

const tree = getTree('src/pages/docs/');
---

<Layout title={`${title ? (title + ' - ') : ''}Nvpunk Docs`} withSidebar={true}>
    <div class="docspage">
        <aside id="sidebar">
            <ul>
                <DocsSidebarSection
                    baseDir={'docs'}
                    tree={tree}
                    currentTitle={title}
                    withIndex={true}
                />
            </ul>
        </aside>
        <section>
            <slot />
        </section>
    </div>
</Layout>
<script>
    var hamburger = document.getElementById('sidebar_hamburger')!;
    var sidebar = document.getElementById('sidebar')!;
    hamburger.onclick = () => {
        sidebar.classList.toggle('open');
    };
</script>
<style lang="scss" is:global>
@use '../styles/base.scss' as *;
.docspage {
    aside {
        height: 100vh;
        width: $doc_sidebar_size;
        background-color: $card_bg;
        @include blur_bg;
        box-shadow: $nav_shadow;
        overflow-y: auto;
        position: fixed;
        left: 0; top: 0; bottom: 0;
        transition: left $transition_params;
        z-index: 50;

        @media only screen and (max-width: $mobile_size) {
            left: (-1.5 * $doc_sidebar_size);
            &.open {
                left: 0;
            }
        }

        ul {
            list-style-type: none;
            padding: 0; margin: 0;
            padding-left: 24px;
            li {
                a {
                    @include navlink;
                    &.selected {
                        color: $accent;
                    }
                }
            }
        }

        > ul {
            padding-top: (24px + $nav_size);
        }
    }
    section {
        flex-grow: 1;
    }
}

section {
    padding-left: ($doc_sidebar_size + 24px) !important;
}

@media only screen and (max-width: $mobile_size) {
    section {
        padding-left: 12px !important;
    }
}

code {
    border: 1px solid darken($fg_color, 20);
    padding: 1px 6px;
}
pre code { border: none; padding: 0; }

$tbl_border: 1px solid darken($fg_color, 40);

table {
    border: $tbl_border;
    &, td, tr {
        border-collapse: collapse;
    }
    tbody, tr, td, th {
        border-right: $tbl_border;
        border-left: $tbl_border;
    }

    tr:nth-child(even) {
        background-color: transparentize(darken($bg_color, 7), .3);
    }

    th {
        border-bottom: $tbl_border;
    }

    td, th {
        padding: 6px;
    }

    code {
        display: inline-block;
        margin: 6px;
    }
}

.tablewrapper {
    display: block;
    overflow-x: auto;
    table {
        width: 100%;
    }
}

h2, h3, h4 {
    margin-top: 48px;
}
</style>
