---
export interface Props {
    title: string;
    withSidebar: boolean;
}

const { title, withSidebar } = Astro.props;

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import {
    BLURB, SITE_NAME, DOMAIN
} from '../config';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="application/javascript">document.interestCohort = null;</script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
        <title>{title}</title>
        <link rel="stylesheet" href="/font/jetbrains-mono/jetbrains-mono.css" media="all" />
        <link rel="stylesheet" href="/font/symbols-nerd-font/symbols-nerd-font.css" media="all" />
        <link rel="manifest" href="/webmanifest.json" />
        <meta name="theme-color" content="#191827" />

        <link rel="icon" type="image/png" href="/img/favicon64.png" />
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
        <link rel="apple-touch-icon" href="/img/favicon180.png" />

        <meta name="generator" content={Astro.generator} />
        <meta name="author" content="Gabriele Musco" />
        <meta name="description" content={BLURB} />
        <meta property="og:site_name" content={SITE_NAME} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={BLURB} />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/img/twitter_card.png" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content={DOMAIN} />
        <meta property="twitter:url" content="https://nvpunk.gabmus.org/" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={BLURB} />
        <meta name="twitter:image" content="/img/twitter_card.png" />

    </head>
    <body>
        <Navbar withSidebar={withSidebar} />
        <slot />
        <Footer />
    </body>
</html>
<style lang="scss" is:global>
@use '../styles/base.scss' as *;
body, html {
    margin: 0; padding: 0;
    background-color: $bg_color;
    background-image: url('/img/bg.svg');
    background-repeat: repeat;
    color: $fg_color;
    font-family: $font;
}

button {
    font-family: $font;
}

::selection, ::-moz-selection {
    background: $accent;
    color: $fg_color;
}

section {
    padding: (24px + $nav_size) 12px 0 12px;
    > * {
        max-width: $block_size_limit;
        margin: 12px auto;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }
}

.blinker { @include blinker; }

a {
    color: $accent;
    transition: text-shadow $transition_params;
    &:hover {
        @include text_glow($accent);
    }
}

.small { &, * {
    font-size: 9pt;
}}
</style>
